* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background: purple;
    padding: 30px;
}

.container {
    height: 100%;
    background: black;
    color: aliceblue;
    border-radius: 4%;
}


/* ========== HEADER (sticky) ========== */
header {

    padding: 40px;
    display: flex;
    justify-content: space-between;
    background: rgb(48, 4, 41);
    border-radius: 8px;
    
}

.logo {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    color: aliceblue;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.5);
    color: rgb(211, 85, 173);
}


/* ========== NAVBAR ========== */


.navbar a {
    color: rgb(224, 29, 166);
    text-decoration: none;

    
    font-size: 18px;
    text-shadow: 2px 2px 4px gray;
    text-indent: 0%;

}

.navbar a:hover {

    transform: scale(1.5);
    color: rgb(233, 218, 230);
    text-shadow: 2px 2px 4px rgb(230, 222, 228);
}

/* ========== SECCIÓN PRINCIPAL ========== */
.inicio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 100px 5% 0;
}

.inicio-detalle h1 {
    /*font-size: clamp(32px, 6vw, 52px);*/
    font-size: 44px;
    background: purple;
    background-clip: text;
    color: transparent;
}

.inicio-detalle h2 {
    font-size: 28px;
    color: rgb(204, 91, 214);
    margin-bottom: 15px;
}

.inicio-detalle p {
    margin: 20px 0;
    line-height: 1.6;
    font-size: 1rem;
    color: rgba(223, 65, 170, 0.589);
}

/* BOTÓN MEJORADO */
.btn {
    display: inline-block;
    padding: 12px 28px;
    background: purple;
    border: 3px solid;
    border-radius: 40px;
    color: beige;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background: transparent;
    box-shadow: none;
    transform: translateY(-3px);
    color: purple;
}

/* FOTO PERFIL */


.perfil {
    width: clamp(180px, 25vw, 380px);
    height: clamp(180px, 25vw, 380px);
    border-radius: 50%;      /* ← redondea el contenedor */
    overflow: hidden;        /* ← recorta cualquier desborde (importante) */
}


.perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ← asegura que la imagen cubra todo sin deformarse */
    
    transition: transform 0.5s ease;
    border-radius: 50%;
    border: 7px solid;
    color: purple;
}

.perfil:hover img {
    transform: scale(1.1);
}


/* REDES SOCIALES */
.social-icons a {
    font-size: 30px;
    color: purple;
    text-decoration: none;

    border-radius: 50%;
    border: rgb(158, 28, 108) solid;
    display: flex;
    background-color: #edeaf0;
}

.social-icons a:hover {
    color: rgb(233, 23, 233);
    transform: scale(1.1);
    border: rgb(236, 222, 231) solid;
}