body{
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* CONTENEDOR GRID */
.container{
  display: grid;
  grid-template-columns: repeat(4, 100px); /* 3 columnas */
  gap: 20px; /* espacio entre elementos */
}

/* ITEMS */
.item{
  background: #38bdf8;
  padding: 30px;
  text-align: center;
  font-size: 80px;
  border-radius: 10px;
}